<!DOCTYPE html>
<html>
<head>
  <title>Briefbuilder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr" %>
</head>
<body>
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <%= render 'layouts/header' %>

      <div class="row">
        <div class="medium-12">
          <%= render "layouts/flash_messages" %>
        </div>
      </div>

      <%= yield %>
    </div>
  </div>
</body>
</html>
